<configuration>
  <system.web>
    <!-- Turn off custom errors to see detailed error messages -->
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <!-- Enable detailed error messages in IIS -->
    <httpErrors errorMode="Detailed" />
    <add name="iisnode" path="app.js" verb="*" modules="iisnode" />

    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <rule name="Redirect to index.html" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/index_tab/index.html" redirectType="Permanent" />
        </rule>

        <rule name="API Route Rewrite" stopProcessing="true">
          <match url="^contact_tab/submit-form$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="POST" />
          </conditions>
          <action type="Rewrite" url="/contact_tab/submit-form" />
        </rule>

        <rule name="Nodejs" stopProcessing="true">
          <match url="app.js" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>


