<configuration>
  <system.web>
    <!-- Turn off custom errors to see detailed error messages -->
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <!-- Enable detailed error messages in IIS -->
    <httpErrors errorMode="Detailed" />
    
    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <rule name="Redirect to index.html" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/index_tab/index.html" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

