<configuration>
  <system.web>
    <!-- Turn off custom errors to see detailed error messages -->
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <!-- Enable detailed error messages in IIS -->
    <httpErrors errorMode="Detailed" />
    
    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <rule name="Redirect to index.html" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/index_tab/index.html" redirectType="Permanent" />
        </rule>

        <rule name="Route Node.js API Requests" stopProcessing="true">
          <match url="^contact_tab/submit-form$" />
          <action type="Rewrite" url="http://127.0.0.1:3000/contact_tab/submit-form" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>

