.blue-main h1{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    margin: 0;
    border-bottom: 3px solid white;
}

.blue-main h2{
    position: absolute;
    top: 130px;
    left: 50px;
    font-size: 45px;
}

.columns{
    display: flex;
    justify-content: space-between;
}

.column-1{
    position: absolute;
    top: 198px;
    left: 220px;
}

.column-2{
    position: absolute;
    top: 198px;
    left: 520px;
}

.blue-main li{
    font-size: 35px;
}

.blue-main{
    min-height: 650px;
}

.blue-main p{
    position: relative;
    display: inline-block;
    transform: rotate(353deg);
    top: 105px;
    left: 410px;
    font-size: 45px;
    border: 15px solid white;
    padding: 30px;
}

.blue-main a{
    font-size: 45px;
}

@media (max-width: 1390px){
    .blue-main{
        min-height: 1250px;
    }

    .blue-main p{
        position: absolute;
        display: inline-block;
        transform: rotate(353deg);
        top: 790px;
        left: 180px;
        font-size: 45px;
        border: 15px solid white;
        padding: 30px;
    }

    .blue-main a{
        font-size: 45px;
    }
}

@media (max-width: 750px){
    .blue-main{
        min-height: 1200px;
    }

    .blue-main li{
        font-size: 32px;
    }

    .column-1{
        position: absolute;
        top: 198px;
        left: 120px;
    }
    
    .column-2{
        position: absolute;
        top: 198px;
        left: 420px;
    }

    .blue-main p{
        position: absolute;
        display: inline-block;
        transform: rotate(353deg);
        top: 730px;
        left: 60px;
        font-size: 45px;
        border: 15px solid white;
        padding: 30px;
    }

    .blue-main a{
        font-size: 45px;
    }
}