/*

.home-header-1{
    position: absolute ;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    margin: 0;
}

.home-para-1{
    font-size: 1.9rem;
    text-align: center;
    border: 0.3rem, solid, white;
    padding: 2rem;
    margin-top: 2rem;
}

*/