#minor-issue-fix{
    background: #c4d6ee;
}

.page-name{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    margin: 0;
    border-bottom: 3px solid white;
}

.home-para-1{
    font-size: 50px;
    margin-bottom: 30px;
    margin: 30px 0;
}

.home-para-2{
    font-size: 30px;
    width: 150%;
}

.slider-caption{
    margin-bottom: 50px;
    font-size: 45px;
}


/*Image Slider*/

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;   
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/*Image slider manual slide functionality*/

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*Image slider auto nav*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: white;
}

/*Media Query*/

@media(max-width: 828px){
    .slider{
        width: 600px;
        height: 400px;
    }

    .slide img{
        width: 600px;
        height: 400px;
    }

    .navigation-manual{
        margin-top: -140px;
        margin-left: -95px;
    }

    .navigation-auto{
        margin-left: -95px;
        margin-top: 360px;
    }
}

/*We have to trigger the 2nd media query for the image slider here because this is when the slider screen gets cut off, regardless of whatever 
device you're on, because the prior media query of 828px would've held off till then*/
@media(max-width: 598px){

    /* sub 344px wide because we gotta make it smaller than the smallest phone */
    .slider{
        width: 335px;
        height: 200px;
    }
    .slide img{
        width: 335px;
        height: 200px;
    }

    .navigation-manual{
        margin-top: -330px;
        margin-left: -230px;
    }

    .navigation-auto{
        margin-left: -230px;
        margin-top: 170px;
    }
}




/*Customer Testimonial*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#padding-issue{
    padding: 0px;
}

.testimonials{
    color: #434343;
    text-align: center;
}

.inner{
    max-width: 1350px;
    margin: auto;
    overflow: hidden;
}

.title-fix{
    font-size: 60px;
    color: white;
}

.font-fix{
    font-size: 25px;
    font-family: "montserrat",sans-serif;
}

.border{
    width: 160px;
    height: 5px;
    margin: 26px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial{
    background: #fff;
    padding: 30px;
    border-radius: 50px;
}

.testimonial img{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center top;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    font-weight: bold;
    font-family: "montserrat",sans-serif;
}

.job{
    font-size: 16px;
    margin: 5px 0 20px 0;
    font-family: "montserrat",sans-serif;
}

.stars{
    color: #f0de16;
    margin-bottom: 20px;
}

@media screen and (max-width:1150px){
    .col{
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width:600px){
    .col{
        flex: 100%;
        max-width: 100%;
    }
}