.blue-main h1{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    margin: 0;
    border-bottom: 3px solid white;
}

.blue-main h2{
    position: absolute;
    top: 150px;
    left: 60px;
    font-size: 45px;
}

.blue-main ul{
    position: absolute;
    top: 220px;
    left: 100px;
}

.blue-main li{
    font-size: 35px;
}

.blue-main p{
    position: absolute;
    display: inline-block;
    transform: rotate(353deg);
    top: 80px;
    left: 720px;
    font-size: 45px;
    border: 15px solid white;
    padding: 30px;
}

.blue-main a{
    font-size: 45px;
}

#service-section-1{
    min-height: 530px;
}

.blue-2 h1{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 45px;
}

@media (max-width: 1280px){

    .blue-main p{
        position: absolute;
        display: inline-block;
        transform: rotate(353deg);
        top: 80px;
        left: 520px;
        font-size: 45px;
        border: 15px solid white;
        padding: 30px;
    }

    .blue-main a{
        font-size: 45px;
    }
}

@media (max-width: 1080px){
    #service-section-1{
        min-height: 930px;
    }

    .blue-main p{
        position: absolute;
        display: inline-block;
        transform: rotate(353deg);
        top: 480px;
        left: 60px;
        font-size: 45px;
        border: 15px solid white;
        padding: 30px;
    }

    .blue-main a{
        font-size: 45px;
    }
}