h1{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    margin: 0;
    border-bottom: 3px solid white;    
}

.greeting{
    position: absolute;
    top: 138px;
    left: 60px;
    font-size: 30px;
}

.blue-main{
    min-height: 800px;
}

.info{
    position: absolute;
    top: 130px;
    left: 960px;
    font-size: 30px;
    transform:rotate(357deg);
    border: 7px solid white;
    padding: 15px;
    display: inline-block;
}

.contact-container img{
    position: absolute;
    width: 200px;
    left: 780px;
    top: 60px;
}


/*Contact form*/
.contact-container{
    position: absolute;
    top: 300px;
    left: 160px;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #30696d;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-container button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#1dacb4,#177479);
    cursor: pointer;
}

@media (max-width:1340px){
    .info{
        top: 130px;
        left: 660px;
        font-size: 25px;   
    }
    .contact-container img{
        left: 470px;
        width: 200px;
        top: 40px;
    }
}

@media (max-width:988px){
    .blue-main{
        min-height: 1400px;
    }

    .info{
        top: 770px;
        left: 200px;
        font-size: 25px;   
    }

    .contact-container{
        left: 75px;
    }
    
    .contact-container img{
        left: 30px;
        width: 190px;
        top: 670px;
    }
}

@media (max-width:571px){
    .blue-main{
        min-height: 1350px;
    }

    h1{
        font-size: 1.7rem; 
    }
    .contact-container{
        top: 240px;
        left: 25px;
    }

    .greeting{
        top: 108px;
        left: 20px;
        font-size: 27px;
    }

    .info{
        top: 700px;
        left: 40px;
        font-size: 25px;   
    }
}

@media (max-width:452px){
    h1{
        font-size: 1.4rem; 
    }

    .contact-container{
        top: 230px;
        left: 20px;
    }

    .greeting{
        top: 90px;
        left: 20px;
        font-size: 23px;
    }

    .info{
        top: 680px;
        left: 20px;
        font-size: 25px;   
    }

    .contact-inputs{
        width: 300px;
    }

    .contact-container img{
        width: 170px;
    }

    .blue-main{
        min-height: 1280px;
    }
}

@media (max-width:385px){
    h1{
        font-size: 1.4rem; 
    }

    .contact-container{
        top: 250px;
        left: 20px;
    }

    .greeting{
        top: 90px;
        left: 20px;
        font-size: 23px;
    }

    .info{
        top: 710px;
        left: 20px;
        font-size: 25px;   
    }

    .contact-inputs{
        width: 300px;
    }

    .contact-container img{
        width: 170px;
    }

    .blue-main{
        min-height: 1320px;
    }
}