.upload_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload_button{
    background-color: #acb9b0;
    color: white;
    border: 3px solid white;
    cursor: pointer;
    font-size: 25px;
    border-radius: 17px;
}

.upload_button:hover{
    background-color: #b9dcdf;
}

.blue-main h1{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    margin: 0;
    border-bottom: 3px solid white;
}

.careers_pitch{
    position: absolute;
    top: 150px;
    left: 60px;
    font-size: 25px;
}

.blue-main h2{
    position: absolute;
    top: 460px;
    font-size: 35px;
}

.upload_container{
    position: absolute;
    top: 530px;
}

.blue-main{
    min-height: 600px;
}

.if_Successful{
    color: green;
    font-size: 18px;
    margin-top: 10px;
}
